stages:
- collect
- build
- test

download:
  image: python:slim
  stage: collect
  script:
  - env
  - pip install requests envparse
  - python downloader.py
  - cat cov.txt
  - cat cov.txt > empty.txt
  coverage: '/Statements\s+:\s(\d+.?\d+)%/'
  artifacts:
    paths:
    - empty.txt
    expire_in: 1 day

{% for app_path in paths -%}

build:{{ app_path }}:
  image: python:latest
  stage: build
  script:
  - cd {{ app_path }}
  - pip install -r requirements.txt > ../{{ app_path }}.txt
  - mv ../data.xml ../{{ app_path }}-test-result.xml
  artifacts:
    paths:
    - {{ app_path }}.txt
    - {{ app_path }}-test-result.xml
    expire_in: 1 day
  rules:
  - changes:
    - '{{ app_path }}/**/*'
  
deploy:{{ app_path }}:
  stage: test
  script:
  - echo "Time to deploy"
  needs: 
  - 'build:{{ app_path }}'
  rules:
  - changes:
    - '{{ app_path }}/**/*'

{% endfor %}
